.site-header {
	margin-bottom: 3em;
}

.navbar-brand {

	a {
		color: $white;
	}

}

.blog {
	.site-header {
		margin-bottom: 0;
	}
}

.page-template-about {
	.site-header {
			margin-bottom: 0;
	}
		}